td, th {
	border: 1px solid;
}

#main-header {
  background: linear-gradient(to bottom, rgba(255,124,216,1) 1%, rgba(255,124,216,1) 34%, rgba(251,166,225,1) 96%);
  text-align: center;
  font-size: 3rem;
  font-family: "Tangerine", serif;
}

#company-name {
  font-size: 30px;
}

.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

#main-navbar {
  background-color: #F9BBE6;
}

#navbar-container {
  width: 100%;
  position: relative;
  text-align: center;
  font-family: "Lucida Console", "Courier New", "monospace";
}

#main-navbar {
 overflow: hidden;
}

#main-navbar ul {
  list-style-type: none;
	margin: 0;
  padding: 0;
  display: inline-block;
  display: flex;
  justify-content: center; 
}

#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #FFFAF0;
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", "monospace";
}

#main-navbar ul li a:hover {
  text-decoration: underline;
}

#content-wrapper {
  background-color: #FCEFF8;
}

#main-navbar #onpage {
  background-color: #F7D2EB;
}

#main-content {
  font-family: "Lucida Console", "Courier New", "monospace";
  margin-left: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

/* Media Queries */
@media screen and (min-width: 600px) {
  body {
  	text-align: center;
  }
  .container {
  	width: 90%;
  }
  h1 {
  	font-size: 2.5rem;
  }
  #main-navbar ul {
  	flex-direction: row;
  }
  #main-navbar ul li {
  	margin: 0 10px;
  }
}

@media screen and (min-width: 900px) {
	#main-header {
  	font-size: 4rem;
  }
  #company-name {
  	font-size: 40px;
  }
  #main-navbar ul li a {
  	padding: 15px 25px;
  }
  #main-content {
  	font-size: 1.2rem;
  }
  .center {
  	width: 70%;
  }
}

#wrapper {
	display: flex;
	width: 850px;
	height: 600px;
	align-items: center;
	justify-content: center;
	background-color: #F7D2EB;
	overflow: hidden;
	margin: 20px auto;
	z-index: 1;
}
#wrapper {
	width: 700px;
	height: 500px;
	align-items: center;
	justify-content: center;
	background-color: #F9BBE6;
	margin: 30px auto;
	margin: 30px auto;
	z-index: 2;
}
#map {
	width: 700px;
	height: 500px;
	align-items: center;
	justify-content: center;
	background-color: #F9BBE6;
	margin: 30px auto;
	margin: 30px auto;
	z-index: 3;