td, th {
	border: 1px solid;
  }
  
#main-header	{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff7cd8+1,ff7cd8+34,fba6e1+96 */
	background: linear-gradient(to bottom,  rgba(255,124,216,1) 1%,rgba(255,124,216,1) 34%,rgba(251,166,225,1) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	text-align: center;
	font-size: 3rem;
	font-family: "Tangerine, serif";
}

#company-name	{
	font-size: 30px;
}

.container	{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

#main-navbar	{
	background-color: #F9BBE6;
}  

#navbar-container	{
	width: 100%;
	position: relative;
	text-align: center;
	font-family: "Lucida Console", "Courier New", "monospace";
}

#main-navbar	{
	overflow: hidden;
}

#main-navbar ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	display: flex;
	justify-content: center; 
}

#main-navbar ul li a	{
	display: block;
	padding: 10px 20px;
	color: #FFFAF0;
	text-decoration: none;
	font-family: "Lucida Console", "Courier New", "monospace";
}

#main-navbar ul li a:hover	{
	text-decoration: underline;
}

#content-wrapper	{
	background-color: #FCEFF8;
}

#main-navbar #onpage	{
	background-color: #F7D2EB;
}

#main-content	{
	font-family: "Lucida Console", "Courier New", "monospace";
	margin-left: 5px;
}

.center	{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%; 
}
  